--
-- PostgreSQL database dump
--

\restrict Rkx0wt6kG6kckryKHNuDjO38FIosRfUKkO8CgpNY0KQIsIA84nkQ3dZxhNmHUg3

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: match_event; Type: TABLE; Schema: public; Owner: user_db
--

CREATE TABLE public.match_event (
    minute integer NOT NULL,
    eventtype character varying(50) NOT NULL,
    matchid integer NOT NULL,
    playerid integer NOT NULL,
    CONSTRAINT match_event_minute_check CHECK (((minute > 0) AND (minute <= 130)))
);


ALTER TABLE public.match_event OWNER TO user_db;

--
-- Name: matches; Type: TABLE; Schema: public; Owner: user_db
--

CREATE TABLE public.matches (
    matchid integer NOT NULL,
    matchdate date NOT NULL,
    stage character varying(50) NOT NULL,
    hometeamcode character varying(3) NOT NULL,
    awayteamcode character varying(3) NOT NULL,
    stadiumid integer NOT NULL,
    refereeid integer NOT NULL,
    CONSTRAINT matches_check CHECK (((hometeamcode)::text <> (awayteamcode)::text))
);


ALTER TABLE public.matches OWNER TO user_db;

--
-- Name: person; Type: TABLE; Schema: public; Owner: user_db
--

CREATE TABLE public.person (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    dateofbirth date NOT NULL
);


ALTER TABLE public.person OWNER TO user_db;

--
-- Name: player; Type: TABLE; Schema: public; Owner: user_db
--

CREATE TABLE public.player (
    "position" character varying(50) NOT NULL,
    teamcode character varying(3) NOT NULL,
    id integer NOT NULL
);


ALTER TABLE public.player OWNER TO user_db;

--
-- Name: player_match_stats; Type: TABLE; Schema: public; Owner: user_db
--

CREATE TABLE public.player_match_stats (
    minutesplayed integer NOT NULL,
    distancecovered numeric(5,2) NOT NULL,
    matchid integer NOT NULL,
    playerid integer NOT NULL,
    CONSTRAINT player_match_stats_distancecovered_check CHECK ((distancecovered >= (0)::numeric)),
    CONSTRAINT player_match_stats_minutesplayed_check CHECK ((minutesplayed >= 0))
);


ALTER TABLE public.player_match_stats OWNER TO user_db;

--
-- Name: referee; Type: TABLE; Schema: public; Owner: user_db
--

CREATE TABLE public.referee (
    years_of_experience integer NOT NULL,
    id integer NOT NULL,
    CONSTRAINT referee_years_of_experience_check CHECK ((years_of_experience >= 0))
);


ALTER TABLE public.referee OWNER TO user_db;

--
-- Name: stadium; Type: TABLE; Schema: public; Owner: user_db
--

CREATE TABLE public.stadium (
    stadiumid integer NOT NULL,
    city character varying(100) NOT NULL,
    name character varying(100) NOT NULL,
    capacity integer NOT NULL,
    CONSTRAINT stadium_capacity_check CHECK ((capacity > 0))
);


ALTER TABLE public.stadium OWNER TO user_db;

--
-- Name: team; Type: TABLE; Schema: public; Owner: user_db
--

CREATE TABLE public.team (
    teamcode character varying(3) NOT NULL,
    countryname character varying(100) NOT NULL,
    confederation character varying(50) NOT NULL
);


ALTER TABLE public.team OWNER TO user_db;

--
-- Data for Name: match_event; Type: TABLE DATA; Schema: public; Owner: user_db
--



--
-- Data for Name: matches; Type: TABLE DATA; Schema: public; Owner: user_db
--



--
-- Data for Name: person; Type: TABLE DATA; Schema: public; Owner: user_db
--



--
-- Data for Name: player; Type: TABLE DATA; Schema: public; Owner: user_db
--



--
-- Data for Name: player_match_stats; Type: TABLE DATA; Schema: public; Owner: user_db
--



--
-- Data for Name: referee; Type: TABLE DATA; Schema: public; Owner: user_db
--



--
-- Data for Name: stadium; Type: TABLE DATA; Schema: public; Owner: user_db
--



--
-- Data for Name: team; Type: TABLE DATA; Schema: public; Owner: user_db
--



--
-- Name: match_event match_event_pkey; Type: CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.match_event
    ADD CONSTRAINT match_event_pkey PRIMARY KEY (minute, matchid);


--
-- Name: matches matches_pkey; Type: CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_pkey PRIMARY KEY (matchid);


--
-- Name: person person_pkey; Type: CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.person
    ADD CONSTRAINT person_pkey PRIMARY KEY (id);


--
-- Name: player_match_stats player_match_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.player_match_stats
    ADD CONSTRAINT player_match_stats_pkey PRIMARY KEY (matchid, playerid);


--
-- Name: player player_pkey; Type: CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.player
    ADD CONSTRAINT player_pkey PRIMARY KEY (id);


--
-- Name: referee referee_pkey; Type: CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.referee
    ADD CONSTRAINT referee_pkey PRIMARY KEY (id);


--
-- Name: stadium stadium_pkey; Type: CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.stadium
    ADD CONSTRAINT stadium_pkey PRIMARY KEY (stadiumid);


--
-- Name: team team_pkey; Type: CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.team
    ADD CONSTRAINT team_pkey PRIMARY KEY (teamcode);


--
-- Name: match_event match_event_matchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.match_event
    ADD CONSTRAINT match_event_matchid_fkey FOREIGN KEY (matchid) REFERENCES public.matches(matchid);


--
-- Name: match_event match_event_playerid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.match_event
    ADD CONSTRAINT match_event_playerid_fkey FOREIGN KEY (playerid) REFERENCES public.player(id);


--
-- Name: matches matches_awayteamcode_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_awayteamcode_fkey FOREIGN KEY (awayteamcode) REFERENCES public.team(teamcode);


--
-- Name: matches matches_hometeamcode_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_hometeamcode_fkey FOREIGN KEY (hometeamcode) REFERENCES public.team(teamcode);


--
-- Name: matches matches_refereeid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_refereeid_fkey FOREIGN KEY (refereeid) REFERENCES public.referee(id);


--
-- Name: matches matches_stadiumid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_stadiumid_fkey FOREIGN KEY (stadiumid) REFERENCES public.stadium(stadiumid);


--
-- Name: player player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.player
    ADD CONSTRAINT player_id_fkey FOREIGN KEY (id) REFERENCES public.person(id);


--
-- Name: player_match_stats player_match_stats_matchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.player_match_stats
    ADD CONSTRAINT player_match_stats_matchid_fkey FOREIGN KEY (matchid) REFERENCES public.matches(matchid);


--
-- Name: player_match_stats player_match_stats_playerid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.player_match_stats
    ADD CONSTRAINT player_match_stats_playerid_fkey FOREIGN KEY (playerid) REFERENCES public.player(id);


--
-- Name: player player_teamcode_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.player
    ADD CONSTRAINT player_teamcode_fkey FOREIGN KEY (teamcode) REFERENCES public.team(teamcode);


--
-- Name: referee referee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_db
--

ALTER TABLE ONLY public.referee
    ADD CONSTRAINT referee_id_fkey FOREIGN KEY (id) REFERENCES public.person(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Rkx0wt6kG6kckryKHNuDjO38FIosRfUKkO8CgpNY0KQIsIA84nkQ3dZxhNmHUg3

